[apitest]
source = svn,http://svn.oscar.openclustergroup.org/svn/oscar/trunk/packages/apitest

#[ganglia]
#source = svn,http://svn.oscar.openclustergroup.org/svn/oscar/trunk/packages/ganglia

#[jobmonarch]
#source = svn,http://svn.oscar.openclustergroup.org/svn/oscar/trunk/packages/jobmonarch

#[lam]
#source = svn,http://svn.oscar.openclustergroup.org/svn/oscar/trunk/packages/lam

#[linux-ha]
#source = svn,http://svn.oscar.openclustergroup.org/svn/oscar/trunk/packages/linux-ha

#[loghost]
#source = svn,http://svn.oscar.openclustergroup.org/svn/oscar/trunk/packages/loghost

#[maui]
#source = svn,http://svn.oscar.openclustergroup.org/svn/oscar/trunk/packages/maui

#[mpich]
#source = svn,http://svn.oscar.openclustergroup.org/svn/oscar/trunk/packages/mpich

#[netbootmgr]
#source = svn,http://svn.oscar.openclustergroup.org/svn/oscar/trunk/packages/netbootmgr

#[openmpi]
#source = svn,http://svn.oscar.openclustergroup.org/svn/oscar/trunk/packages/openmpi

#[oscar-benchmarking]
#source = svn,http://svn.oscar.openclustergroup.org/svn/oscar/pkgsrc/oscar-benchmarking/trunk

#[pvm]
#source = svn,http://svn.oscar.openclustergroup.org/svn/oscar/trunk/packages/pvm

#[sge]
#source = svn,http://svn.oscar.openclustergroup.org/svn/oscar/trunk/packages/sge

#[switcher]
#source = svn,http://svn.oscar.openclustergroup.org/svn/oscar/trunk/packages/switcher

#[torque]
#source = svn,http://svn.oscar.openclustergroup.org/svn/oscar/trunk/packages/torque

